@page
@model omoore2_mission9.Pages.BookCompletedModel
@{
}
<div class="text-center">
    <h2>Thanks! Your order will be shipped within 7-10 business days!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>