<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">book store</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-4">
            A nod to my guy Jeff B.
        </div>
        <div class="col-3">
            @RenderBody()
        </div>
        <div class="col-5"></div>
    </div>
</body>
</html>
